* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  background-color: #171717;
  transition: all 0.8s ease;
}

i,
svg {
  pointer-events: none;
}

h1 {
  color: #ededed;
  font-weight: 800;
  font-size: 5rem;
  padding: 0 1.2;
}

#title {
  font-size: 7rem;
  font-weight: 600;
  margin: 3rem 0;
}

#title span {
  position: absolute;
  top: 4px;
  font-size: 10rem;
  color: #da0037;
}

#title-kick {
  margin-right: 59px;
}
#title-snare {
  margin-right: 53px;
}
#title-hihat {
  margin-right: 43.6px;
}

.info-div {
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-btn {
  background-color: #eaeaea;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  margin-left: 100px;
  border-radius: 50px;
  border: 2px solid black;
  color: black;
  transition: none;
}

.container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.control-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.control-section {
  flex: 1;
}

select {
  background-color: #ededed;
  width: 7rem;
  padding: 0.8rem;
  margin-left: 10px;
  margin-right: 15px;
}

.mute {
  background-color: #ededed;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mute:hover {
  background-color: rgb(220, 220, 220);
  color: black;
}

/* Strument row */

.kick-track,
.snare-track,
.hihat-track {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
}

.kick,
.snare,
.hihat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* Pad section */

.pad {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 4px;
  margin: 0px 1rem;
  transition: all 0.5s ease;
}

.kick-pad {
  background-color: #80ced2;
}
.snare-pad {
  background-color: #344d80;
}
.hihat-pad {
  background-color: #da0037;
}

.kick-pad.active {
  background-color: #0d3437;
  border: 2.5px solid #eaeaea;
}
.snare-pad.active {
  background-color: #182339;
  border: 2.5px solid #eaeaea;
}
.hihat-pad.active {
  background-color: #520e22;
  border: 2.5px solid #eaeaea;
}

.play i {
  font-size: 2rem;
}

.play {
  background-color: #757575;
  color: white;
  border-radius: 5px;
  padding: 1.6rem 2.8rem;
  border: none;
  margin-top: 50px;
  font-size: 1.6rem;
  cursor: pointer;
  width: 160px;
  transition: all 0.5s ease;
}

.play:hover {
  opacity: 0.5w;
}

.mute {
  background-color: #757575;
  color: white;
}

.mute.active {
  opacity: 0.4;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.general-controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.tempo {
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tempo-slider {
  -webkit-appearance: none;
  height: 10px;
  background-color: #eaeaea;
  width: 30vw;
  border-radius: 15px;
}

p {
  color: #ededed;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}
